In [1]:
import sys
sys.executable
import pandas as pd

In [2]:
raw_csv_data=pd.read_csv("data/AQStationData/Barcelona (Ciutadella).csv")

In [3]:
df_comp=raw_csv_data.copy()

In [4]:
df_comp.describe

<bound method NDFrame.describe of       codi_eoi             nom_estacio                     data  magnitud  \
0      8019050  Barcelona (Ciutadella)  2020-09-01T00:00:00.000        12
1      8019050  Barcelona (Ciutadella)  2020-06-04T00:00:00.000        12
2      8019050  Barcelona (Ciutadella)  2020-09-01T00:00:00.000        14
3      8019050  Barcelona (Ciutadella)  2020-06-04T00:00:00.000        14
4      8019050  Barcelona (Ciutadella)  2020-06-04T00:00:00.000         7
...        ...                     ...                      ...       ...
5591   8019050  Barcelona (Ciutadella)  2018-11-23T00:00:00.000        14
5592   8019050  Barcelona (Ciutadella)  2018-02-17T00:00:00.000        12
5593   8019050  Barcelona (Ciutadella)  2018-01-31T00:00:00.000        14
5594   8019050  Barcelona (Ciutadella)  2018-03-04T00:00:00.000        14
5595   8019050  Barcelona (Ciutadella)  2018-03-21T00:00:00.000        12

     contaminant unitats tipus_estacio area_urbana  codi_ine   municipi  ...  \
0            NOX   µg/m3    background       urban      8019  Barcelona  ...
1            NOX   µg/m3    background       urban      8019  Barcelona  ...
2             O3   µg/m3    background       urban      8019  Barcelona  ...
3             O3   µg/m3    background       urban      8019  Barcelona  ...
4             NO   µg/m3    background       urban      8019  Barcelona  ...
...          ...     ...           ...         ...       ...        ...  ...
5591          O3   µg/m3    background       urban      8019  Barcelona  ...
5592         NOX   µg/m3    background       urban      8019  Barcelona  ...
5593          O3   µg/m3    background       urban      8019  Barcelona  ...
5594          O3   µg/m3    background       urban      8019  Barcelona  ...
5595         NOX   µg/m3    background       urban      8019  Barcelona  ...

       h19   h20   h21   h22   h23   h24  altitud    latitud  longitud  \
0     15.0  14.0  21.0  42.0  44.0  14.0        7  41.386406  2.187398
1      9.0   9.0  14.0   5.0   5.0   5.0        7  41.386406  2.187398
2     74.0  71.0  58.0  39.0  45.0  79.0        7  41.386406  2.187398
3     87.0  88.0  79.0  89.0  86.0  79.0        7  41.386406  2.187398
4      1.0   1.0   1.0   1.0   1.0   1.0        7  41.386406  2.187398
...    ...   ...   ...   ...   ...   ...      ...        ...       ...
5591   9.0  12.0  21.0  30.0  18.0   6.0        7  41.386403  2.187398
5592  14.0  28.0  47.0  40.0  34.0  54.0        7  41.386403  2.187398
5593  28.0   8.0   8.0  10.0   7.0  11.0        7  41.386403  2.187398
5594  20.0  35.0  61.0  55.0  38.0  24.0        7  41.386403  2.187398
5595  39.0  36.0  49.0  53.0  53.0  49.0        7  41.386403  2.187398

                  geocoded_column
0     POINT (2.1873982 41.386406)
1     POINT (2.1873982 41.386406)
2     POINT (2.1873982 41.386406)
3     POINT (2.1873982 41.386406)
4     POINT (2.1873982 41.386406)
...                           ...
5591   POINT (2.187398 41.386403)
5592   POINT (2.187398 41.386403)
5593   POINT (2.187398 41.386403)
5594   POINT (2.187398 41.386403)
5595   POINT (2.187398 41.386403)

[5596 rows x 40 columns]>

In [5]:
df_comp.data.describe()

count                        5596
unique                       1399
top       2017-09-06T00:00:00.000
freq                            4
Name: data, dtype: object

In [6]:
df_comp.head()

,codi_eoi,nom_estacio,data,magnitud,contaminant,unitats,tipus_estacio,area_urbana,codi_ine,municipi,...,h19,h20,h21,h22,h23,h24,altitud,latitud,longitud,geocoded_column
0,8019050,Barcelona (Ciutadella),2020-09-01T00:00:00.000,12,NOX,µg/m3,background,urban,8019,Barcelona,...,15.0,14.0,21.0,42.0,44.0,14.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
1,8019050,Barcelona (Ciutadella),2020-06-04T00:00:00.000,12,NOX,µg/m3,background,urban,8019,Barcelona,...,9.0,9.0,14.0,5.0,5.0,5.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
2,8019050,Barcelona (Ciutadella),2020-09-01T00:00:00.000,14,O3,µg/m3,background,urban,8019,Barcelona,...,74.0,71.0,58.0,39.0,45.0,79.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
3,8019050,Barcelona (Ciutadella),2020-06-04T00:00:00.000,14,O3,µg/m3,background,urban,8019,Barcelona,...,87.0,88.0,79.0,89.0,86.0,79.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
4,8019050,Barcelona (Ciutadella),2020-06-04T00:00:00.000,7,NO,µg/m3,background,urban,8019,Barcelona,...,1.0,1.0,1.0,1.0,1.0,1.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)

In [7]:
df_comp.set_index("data").head()

,codi_eoi,nom_estacio,magnitud,contaminant,unitats,tipus_estacio,area_urbana,codi_ine,municipi,codi_comarca,...,h19,h20,h21,h22,h23,h24,altitud,latitud,longitud,geocoded_column
data,,,,,,,,,,,,,,,,,,,,,
2020-09-01T00:00:00.000,8019050,Barcelona (Ciutadella),12,NOX,µg/m3,background,urban,8019,Barcelona,13,...,15.0,14.0,21.0,42.0,44.0,14.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
2020-06-04T00:00:00.000,8019050,Barcelona (Ciutadella),12,NOX,µg/m3,background,urban,8019,Barcelona,13,...,9.0,9.0,14.0,5.0,5.0,5.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
2020-09-01T00:00:00.000,8019050,Barcelona (Ciutadella),14,O3,µg/m3,background,urban,8019,Barcelona,13,...,74.0,71.0,58.0,39.0,45.0,79.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
2020-06-04T00:00:00.000,8019050,Barcelona (Ciutadella),14,O3,µg/m3,background,urban,8019,Barcelona,13,...,87.0,88.0,79.0,89.0,86.0,79.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
2020-06-04T00:00:00.000,8019050,Barcelona (Ciutadella),7,NO,µg/m3,background,urban,8019,Barcelona,13,...,1.0,1.0,1.0,1.0,1.0,1.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)

In [8]:
df_comp.data.max()

'2020-10-31T00:00:00.000'

In [9]:
df_comp.describe()

,codi_eoi,magnitud,codi_ine,codi_comarca,h01,h02,h03,h04,h05,h06,...,h18,h19,h20,h21,h22,h23,h24,altitud,latitud,longitud
count,5596.0,5596.000000,5596.0,5596.0,5551.000000,5534.000000,5540.000000,5550.000000,5550.000000,5552.000000,...,5533.000000,5546.000000,5549.000000,5553.000000,5552.000000,5554.000000,5556.000000,5596.0,5596.000000,5.596000e+03
mean,8019050.0,10.250000,8019.0,13.0,32.157990,30.908746,29.196390,27.336036,25.418559,24.960735,...,32.016989,33.141363,34.355560,35.155952,35.640490,36.809147,34.295356,7.0,41.386404,2.187398e+00
std,0.0,2.861636,0.0,0.0,36.139112,33.828703,31.375318,28.376527,25.639377,24.053135,...,30.713292,31.845058,32.482604,35.248957,39.333807,42.541542,39.386429,0.0,0.000001,9.992589e-08
min,8019050.0,7.000000,8019.0,13.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.0,41.386403,2.187398e+00
25%,8019050.0,7.750000,8019.0,13.0,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,4.000000,7.0,41.386403,2.187398e+00
50%,8019050.0,10.000000,8019.0,13.0,23.000000,23.000000,22.000000,21.000000,19.000000,19.000000,...,22.000000,23.000000,25.000000,26.000000,26.000000,27.000000,24.000000,7.0,41.386403,2.187398e+00
75%,8019050.0,12.500000,8019.0,13.0,49.000000,47.000000,45.000000,42.000000,40.000000,38.000000,...,52.000000,55.000000,56.000000,56.000000,55.000000,55.000000,52.000000,7.0,41.386406,2.187398e+00
max,8019050.0,14.000000,8019.0,13.0,438.000000,356.000000,357.000000,352.000000,305.000000,241.000000,...,239.000000,324.000000,272.000000,379.000000,491.000000,621.000000,553.000000,7.0,41.386406,2.187398e+00

In [10]:
df_comp.data.describe()

count                        5596
unique                       1399
top       2017-09-06T00:00:00.000
freq                            4
Name: data, dtype: object

In [11]:
pd.to_datetime(df_comp.data).describe()

<ipython-input-11-8065a8ef4135>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  pd.to_datetime(df_comp.data).describe()

count                    5596
unique                   1399
top       2019-07-06 00:00:00
freq                        4
first     2017-01-01 00:00:00
last      2020-10-31 00:00:00
Name: data, dtype: object

In [12]:
df_comp.contaminant.describe()

count     5596
unique       4
top        NO2
freq      1399
Name: contaminant, dtype: object

In [13]:
df_comp.head()

,codi_eoi,nom_estacio,data,magnitud,contaminant,unitats,tipus_estacio,area_urbana,codi_ine,municipi,...,h19,h20,h21,h22,h23,h24,altitud,latitud,longitud,geocoded_column
0,8019050,Barcelona (Ciutadella),2020-09-01T00:00:00.000,12,NOX,µg/m3,background,urban,8019,Barcelona,...,15.0,14.0,21.0,42.0,44.0,14.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
1,8019050,Barcelona (Ciutadella),2020-06-04T00:00:00.000,12,NOX,µg/m3,background,urban,8019,Barcelona,...,9.0,9.0,14.0,5.0,5.0,5.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
2,8019050,Barcelona (Ciutadella),2020-09-01T00:00:00.000,14,O3,µg/m3,background,urban,8019,Barcelona,...,74.0,71.0,58.0,39.0,45.0,79.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
3,8019050,Barcelona (Ciutadella),2020-06-04T00:00:00.000,14,O3,µg/m3,background,urban,8019,Barcelona,...,87.0,88.0,79.0,89.0,86.0,79.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)
4,8019050,Barcelona (Ciutadella),2020-06-04T00:00:00.000,7,NO,µg/m3,background,urban,8019,Barcelona,...,1.0,1.0,1.0,1.0,1.0,1.0,7,41.386406,2.187398,POINT (2.1873982 41.386406)

In [14]:
len(df_comp)

5596

In [15]:
df_comp.shape

(5596, 40)

In [16]:
pd.set_option("display.max.columns", None)

In [17]:
pd.set_option("display.precision", 2)

In [18]:
df_comp.head()

,codi_eoi,nom_estacio,data,magnitud,contaminant,unitats,tipus_estacio,area_urbana,codi_ine,municipi,codi_comarca,nom_comarca,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24,altitud,latitud,longitud,geocoded_column
0,8019050,Barcelona (Ciutadella),2020-09-01T00:00:00.000,12,NOX,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,36.0,27.0,18.0,21.0,13.0,13.0,22.0,44.0,80.0,92.0,39.0,34.0,18.0,10.0,9.0,10.0,9.0,11.0,15.0,14.0,21.0,42.0,44.0,14.0,7,41.39,2.19,POINT (2.1873982 41.386406)
1,8019050,Barcelona (Ciutadella),2020-06-04T00:00:00.000,12,NOX,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,8.0,10.0,11.0,8.0,5.0,10.0,9.0,26.0,34.0,33.0,19.0,17.0,14.0,11.0,19.0,21.0,19.0,17.0,9.0,9.0,14.0,5.0,5.0,5.0,7,41.39,2.19,POINT (2.1873982 41.386406)
2,8019050,Barcelona (Ciutadella),2020-09-01T00:00:00.000,14,O3,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,29.0,33.0,44.0,43.0,52.0,48.0,40.0,22.0,17.0,19.0,54.0,68.0,79.0,92.0,89.0,87.0,80.0,76.0,74.0,71.0,58.0,39.0,45.0,79.0,7,41.39,2.19,POINT (2.1873982 41.386406)
3,8019050,Barcelona (Ciutadella),2020-06-04T00:00:00.000,14,O3,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,66.0,42.0,40.0,57.0,55.0,41.0,49.0,36.0,31.0,33.0,65.0,70.0,76.0,80.0,78.0,82.0,85.0,85.0,87.0,88.0,79.0,89.0,86.0,79.0,7,41.39,2.19,POINT (2.1873982 41.386406)
4,8019050,Barcelona (Ciutadella),2020-06-04T00:00:00.000,7,NO,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,3.0,5.0,2.0,2.0,2.0,2.0,3.0,2.0,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,7,41.39,2.19,POINT (2.1873982 41.386406)

In [19]:
df_comp.tail()

,codi_eoi,nom_estacio,data,magnitud,contaminant,unitats,tipus_estacio,area_urbana,codi_ine,municipi,codi_comarca,nom_comarca,h01,h02,h03,h04,h05,h06,h07,h08,h09,h10,h11,h12,h13,h14,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24,altitud,latitud,longitud,geocoded_column
5591,8019050,Barcelona (Ciutadella),2018-11-23T00:00:00.000,14,O3,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,2.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,5.0,3.0,2.0,7.0,7.0,2.0,2.0,1.0,4.0,9.0,12.0,21.0,30.0,18.0,6.0,7,41.39,2.19,POINT (2.187398 41.386403)
5592,8019050,Barcelona (Ciutadella),2018-02-17T00:00:00.000,12,NOX,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,60.0,56.0,32.0,22.0,25.0,63.0,87.0,120.0,148.0,128.0,108.0,113.0,48.0,32.0,25.0,25.0,20.0,19.0,14.0,28.0,47.0,40.0,34.0,54.0,7,41.39,2.19,POINT (2.187398 41.386403)
5593,8019050,Barcelona (Ciutadella),2018-01-31T00:00:00.000,14,O3,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,12.0,24.0,22.0,48.0,54.0,60.0,55.0,37.0,28.0,8.0,8.0,10.0,7.0,11.0,7,41.39,2.19,POINT (2.187398 41.386403)
5594,8019050,Barcelona (Ciutadella),2018-03-04T00:00:00.000,14,O3,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,9.0,7.0,8.0,27.0,21.0,5.0,2.0,13.0,31.0,48.0,59.0,44.0,50.0,43.0,37.0,73.0,55.0,35.0,20.0,35.0,61.0,55.0,38.0,24.0,7,41.39,2.19,POINT (2.187398 41.386403)
5595,8019050,Barcelona (Ciutadella),2018-03-21T00:00:00.000,12,NOX,µg/m3,background,urban,8019,Barcelona,13,Barcelonès,48.0,29.0,14.0,10.0,8.0,13.0,33.0,76.0,60.0,53.0,55.0,63.0,55.0,37.0,18.0,23.0,20.0,21.0,39.0,36.0,49.0,53.0,53.0,49.0,7,41.39,2.19,POINT (2.187398 41.386403)